.video-thumb a:link {
    position: relative;
    color: rgba(255, 255, 255, 0); 
}


.jumbotron{
    border-radius: 0px;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-image: url(images/IMG_6168.JPG);
}

.centered {
    
    text-align: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    margin-top: 0px;
}


.video-thumb a:hover {
    color: rgba(255, 255, 255, 0.6); 
}


.card-body{
    padding:5px 10px 0px 10px;
}

.vid-title{
    margin-bottom: 0px;
}

.subtitle{
    margin-bottom: 14px;
}

.mins{
    margin-top: -20px;
}

#mapid { height: 350px; }

.card:target {
    background-color: beige;
}



#myList li{ display:none;
}